@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');




body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white; /* #eee; */
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

/*NAV BAR*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}




/*TOPICS PAGES*/
img { width:100% !important; height: auto !important; text-align: center; }

.audio {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
  width: 100%;
}

.topic-page h1 {
  font-size: 3em;
}
.topic-page h1, h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
} 

.topic-page .main-content-type {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  text-align: justify;
  width: 80%;  
}

.main-content-type .staff-lines-and-spaces {
  display: inline-block;
  text-align: center;
  
}

.comments-section-intro {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.link-to-quiz {
  color: red;
  text-decoration: none;
}
.link-to-quiz:hover {
  color: blue;
  text-decoration: none;
}
.link-to-quiz:active {
  color: green;
  text-decoration: none;
}

.quiz-link-section {
 font-size: 1.3em;
  text-align: center;
}

/*COMMENTS SECTION*/
#new-comment {
  border-radius: 48px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 200px;
}

input[type=text], select {
  width: 30%;
  padding: 10px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea {
  width: 30%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.input-name {
  font-weight: bold;
  
}
.comment {
  border-style: outset;  
}

.home-link {
  padding-bottom: 20px;
}


/* QUIZ CONTAINER */
{/*    */}
.react-quiz-container {
  width: 100%;
}

.react-quiz-container { 
  margin-left: 15% !important; 
  width:70% !important; }


.questionWrapper{
  margin-left: auto;
  margin-right: auto;

}

.answerBtn{ display:inline-block !important; width:50% !important; }

.react-quiz-container .questionWrapper img {
  width: 40% !important;
  
}

.react-quiz-container .questionWrapper .react-quiz-container .questionWrapper {
  margin-left: auto;
  margin-right: auto;
}

.react-quiz-container .answerButton  {
  width: 60% !important;
 /* margin-left: 20%; */
}

.react-quiz-container .questionWrapper .btn {
  margin-left: auto;
  margin-right: auto;
}

.card-body {
 
  margin-left: auto;
  margin-right: auto;
}

.react-quiz-container .questionWrapper .card-body h2 {
  font-family: 'Lato', sans-serif;
}

.explaination {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}




{/*
.react-quiz-container .questionWrapper .result-answer-wrapper {
  display: inline-block;
}
*/}

{/*
.react-quiz-container .questionWrapper .result-answer-wrapper h3 {
  background-color: white;
}
*/}

{/*
.react-quiz-container .questionWrapper .btn {
  width: 75%;
}
*/}





/*for quiz, remove the margin for media queries (margin: 0)
/*MEDIA QUERIES*/
@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

