@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white; /* #eee; */
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

/*TOPICS PAGES*/
.img {
  text-align: center;
}

.audio {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

.topic-page h1 {
  font-size: 3em;
}
.topic-page h1, h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
} 

.topic-page .main-content-type {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  display: inline-block;
  text-align: justify;
  width: 55%;  
  
}

.main-content-type .staff-lines-and-spaces {
  display: inline-block;
  text-align: center;
  
}

.comments-section-intro {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
}

.link-to-quiz {
  color: red;
  text-decoration: none;
}
.link-to-quiz:hover {
  color: blue;
  text-decoration: none;
}
.link-to-quiz:active {
  color: green;
  text-decoration: none;
}


/* QUIZ CONTAINER */
.react-quiz-container {
  width: 100%;
  background-color: orange;
}

.react-quiz-container .questionWrapper .result-answer-wrapper {
  display: inline-block;
  text-align: center;
  background-color: white;
 
}

.react-quiz-container .questionWrapper .result-answer-wrapper h3 {
  background-color: white;
}


.react-quiz-container .questionWrapper .btn {
  width: 75%;
  margin: 0 auto;
  border: none;
  display: inline-block;
}



/*MEDIA QUERIES*/
@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

